.navigation{
    background-color: black;
    height: 70px;
    width: 1200px;
    border-radius: 50px;
    margin-left: 150px;
    margin-top: -795px; 
     position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.background{
    margin-left: 30px;
    }
    .a{
        color: aliceblue;
        position: relative;
        }
        .jj{
            width: 58px;
            height: 58px;
            border-radius: 50px;
            color: aliceblue;
            background-color: #FE853A;
            /* margin-left: 450px; */
        }
        .jjj{
            padding-left: 16px;
        }
        .service{
            color: #FE853A;
            margin-left: 685px;
            margin-top: 40px;
        }
        .div1{
            width: 450px;
            height: 480px;
            /* background-color: #e4e2e2; */
            position: absolute;
            margin-left: 250px;
            margin-top: 30px;
            border-radius: 40px;
            backdrop-filter: blur(10px);
            border: 2px solid white;
        }
        .uiux{
          padding-left: 30px;
          padding-top: 25px;
          width: 390px;
        }
        .ui{
text-align: center;
        }
        .parag1{
padding-left: 25px;
padding-right: 25px;
        }

        .div2{
            width: 450px;
            height: 480px;
            /* background-color: #FE853A; */
            position: absolute;
            margin-left: 790px;
            margin-top: 30px;
            border-radius: 40px;
            backdrop-filter: blur(10px);
            border: 2px solid white;
        }
        .frontend{
          padding-left: 30px;
          padding-top: 25px;
          width: 390px;
        }
        .front{
text-align: center;
        }
        .parag2{
padding-left: 25px;
padding-right: 25px;
        }


        footer{
            background-color: rgb(17, 17, 17);
            border-top: 8px solid black;
            width: 1439px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: absolute;
            margin-left: 31px;
            margin-top: 580px;
          }
        
          .social_icons{
           
            display: flex; 
            align-items: center;
            justify-content: space-around;
           
          }
          .footer_icon{
            font-size: 30px;
            color: white;
          
          }
        
          .footer_name{
            font-family: 'Poppins', sans-serif;
            font-size: 10px;
            font-weight: bolder;
            color: white;
          }
          .copyright{
            /* font-family: 'Poppins', sans-serif; */
            color: rgb(87, 87, 87);
          }