.navigation{
    background-color: black;
    height: 70px;
    width: 1200px;
    border-radius: 50px;
    margin-left: 150px;
    margin-top: -760px;
     position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.a{
color: aliceblue;
position: relative;
}


.jj{
    width: 58px;
    height: 58px;
    border-radius: 50px;
    color: aliceblue;
    background-color: #FE853A;
    /* margin-left: 450px; */
}
.jjj{
    padding-left: 16px;
}
.contact{
    position: absolute;
}
.background{
margin-left: 30px;
}
.contact1{
    color: #FE853A;
    margin-left: 685px;
    margin-top: 40px;
}
.para1{
    font-size: larger;
    text-align: center;
}
.main{
    width: 800px;
    height: 500px;
    /* background-color: aquamarine; */
    position: absolute;
    margin-left: 350px;
    backdrop-filter: blur(10px);
            border: 5px solid white;
            border-radius: 10px;
}
.sub{
    width: 380px;
    height: 460px;
    background-color:#FE853A;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.contactinfo{
   text-align: center;
    padding-top: 20px;
}

.name{
    background-color: rgb(252, 251, 251);
    position: absolute;
    margin-left: 450px;
    margin-top: -430px;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    border-width: 3px;
}
.email{
    background-color: rgb(252, 251, 251);
    position: absolute;
    margin-left: 450px;
    margin-top: -360px;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    border-width: 3px;
}
.phone{
    background-color: rgb(252, 251, 251);
    position: absolute;
    margin-left: 450px;
    margin-top: -290px;
    border-radius: 10px;
    width: 300px;
    height: 40px; 
    border-width: 3px;
}
.message{
    background-color: rgb(252, 251, 251);
    position: absolute;
    margin-left: 450px;
    margin-top: -215px;
    border-radius: 10px;
    width: 300px;
    height: 90px; 
    border-width: 3px;
    padding-top: -20px;
}
.submit{
    background-color:#FE853A;
    position: absolute;
    margin-left: 520px;
    margin-top: -90px;
    border-radius: 10px;
    width: 180px;
    height: 40px; 
    border-width: 3px;
}
.phone1{
width: 30px;
height: 30px;
}
.mail{
    width: 30px;
    height: 30px;
}
.location{
    width: 30px;
    height: 30px;
}
.phone1{
    margin-top: 30px;
    margin-left: 60px;
}
.phone11{
    margin-left: 105px;
    position: absolute;
    margin-top: -32px;
}
.mail{
    margin-top: 30px;
    margin-left: 60px;
}
.mail11{
    margin-left: 105px;
    position: absolute;
    margin-top: -32px;
}
.location{
    margin-top: 30px;
    margin-left: 60px;
}
.location11{
    margin-left: 105px;
    position: absolute;
    margin-top: -32px;
}


footer{
    background-color: rgb(17, 17, 17);
    border-top: 8px solid black;
    width: 1439px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-left: 31px;
    margin-top: 530px;
  }

  .social_icons{
   
    display: flex; 
    align-items: center;
    justify-content: space-around;
   
  }
  .footer_icon{
    font-size: 30px;
    color: white;
  
  }

  .footer_name{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: white;
  }
  .copyright{
    font-family: 'Poppins', sans-serif;
    color: rgb(87, 87, 87);
  }